.frame {
	margin-top: 50px;
	margin-bottom: 60px;
	.frame-content {
		margin-top: 20px;
		margin-bottom: 20px;
    .frame-count {
      margin-top: 25px;
    }
	}
}


.constat-content {
  margin-top: 30px;
  margin-bottom: 50px;
  .img-constat {
  	height: 150px;
  	width: 150px;
  }
  .right-item {
  	padding-left: 50px;
  }
  h2 {
      padding-top: 35px;
  }
}

.diagnostic {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* texts */

h1.grand-format {
  font-weight: 700;
  font-size: 50px;
}

h2.moyen-format {
  font-weight: 400;
  font-size: 40px;
}

