.frame {
	margin-top: 50px;
	margin-bottom: 60px;
	.frame-content {
		margin-top: 20px;
		margin-bottom: 20px;
    .frame-count {
      margin-top: 25px;
    }
	}
}


.constat {
  margin-top: 40px;
  margin-bottom: 40px;
}


.constat-content {
  margin-top: 30px;
  margin-bottom: 50px;
  .img-constat {
  	height: 150px;
  	width: 150px;
  }
  .right-item {
  }
  h2 {
      padding-top: 35px;
  }
}

.diagnostic {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 50px;
}

/* texts */

h1.grand-format {
  font-weight: 700;
  font-size: 50px;
}

h2.moyen-format {
  font-weight: 400;
  font-size: 40px;
}

@media (max-width: 767px) {

  // Align text to center.
  .frame-description{
    text-align: center;
  } 
  .frame-count {
    margin: 0 auto;
  }
  .frame-btn {
    margin-left: 80px;
  }
}

