div.candidatures-ouvertes {
  margin-top: 20px;
  margin-bottom: 0px;
  span {
    color: $blue;
  }
  p {
    font-size: 20px;
  }
}

div.cocktail-inscriptions {
  margin-top: 35px;
  a {
    margin-top: 20px;
  }
  p {
    margin-top: 25px;
  }
}
div.reglement {
  h2 {
    padding-top: 50px;
    margin-bottom: 30px;
  }
  a {
  width: 200px;
  }
}

div.download-btn {
  border: solid 1px $gray;
  box-shadow: 2px 2px 2px 2px $middle-gray;
  background-color: $yellow;
  color: white;
  font-size: 22px;
  margin-top: 35px;
  a {
    color: white;
    i {
      font-size: 90px;
    }
  }
  &-green {
    background-color: $green;
  }
}

div.volet-prix {
  margin-bottom: 80px;
  a {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}

div.alert {
	margin-top: 105px;
}

@media (min-width: 600px) {
  // Diminish height of alert box on large screen devices.
  div.alert {
    margin-top: 50px;
  }
}

