div.candidatures-ouvertes {
  margin-top: 20px;
  margin-bottom: 35px;
}

div.reglement {
  h2 {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

div.download-btn {
  border: solid 1px $gray;
  box-shadow: 2px 2px 2px 2px $middle-gray;
  background-color: $yellow;
  color: white;
  font-size: 22px;
  margin-top: 35px;
  a {
    color: white;
    i {
      font-size: 90px;
    }
  }
}

div.alert {
	margin-top: 105px;
}

@media (min-width: 600px) {
  // Diminish height of alert box on large screen devices.
  div.alert {
    margin-top: 50px;
  }
}
