.programme-logos {
	img {
		height: 120px;
	}
}

div.speaker-card {
	margin: 50px;
	div.description {
		padding-top: 15px;
		div.matter {
			font-size: 22px;
    		font-weight: 200;
    		padding: 5px;
		}
	}
}

div.panel {
	margin-top: 40px;
	p {
		margin: 5px 0px;
	}
}
