<div class="container footer lined">
  <div class="row">
    <div class="col-md-offset-1 col-md-2 footer-links">
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="col-md-offset-9 footer-copyright">
      L'Incubateur © <%= Date.today.year %>
    </div> 
  </div>
</div>