<div class="container footer lined-middle-gray text-center">
  <div class="row">
    <div class="col-offset-md-3 col-md-6 col-xs-12 footer-links">
      <ul>
        <li>
       <%= link_to "https://www.linkedin.com/in/incubateur-avocatsbe/", target: "_blank" do %>
         <i class="fa fa-linkedin"></i>
       <% end %>   
        </li>
        <li>
          <h4 class="col-xs-12 footer-copyright">L'Incubateur © <%= Date.today.year %></h4> 

        </li>
      </ul>


    </div>
  </div>
</div>