<!-- .home.html.erb Alert-->
<div class="alert alert-warning">
  <h4>Les candidatures pour les Prix de l'innovation sont ouvertes ! Rendez-vous <%= link_to "ici", prix_path %> pour déposer un dossier.</h4>
</div>

<!-- .prix.html.erb CANDIDATURES OUVERTES -->

<div class="container title text-center candidatures-ouvertes">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les candidatures sont maintenant clôturées !</h2>
      <h3>Nous analysons les dossiers en recontacterons prochainements les LegalTech et avocats participants.</h3>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->


<!-- .prix.html.erb CANIDATURES OUVERTES -->

<div class="container title text-center candidatures-ouvertes">
  <div class="row">
    <div class="col-xs-12">
      <h2>Les candidatures sont maintenant ouvertes !</h2>
      <h3>Clôture de la remise des dossiers<br>le <b>mercredi 30 octobre 2019</b> à minuit</h3>
      <p>Veuillez télécharger le dossier de candidature correspondant à votre catégorie (LegalTech ou Avocat) et le renvoyer dûment complété par email à <span>incubateur@avocats.be</span> avant la date de clôture.</p>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->


<div class="container title text-center">
  <div class="row">
    <div class="col-md-offset-2 col-md-3 col-xs-12">
      <div class="download-btn">
        <%= link_to "https://drive.google.com/file/d/1czFKkCW1QHZCApXs0QChPVwaFCmN4k14/view?usp=sharing", target: "_blank" do %>
          <i class="fa fa-rocket" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature<br>LegalTech</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
    <div class="col-md-offset-2 col-md-3 col-xs-12">
      <div class="download-btn download-btn-green">
        <%= link_to "https://drive.google.com/file/d/1S1OG6WBut6X41IgxyzTFe_1Q-ZSnI77l/view?usp=sharing", target: "_blank" do %>
          <i class="fa fa-gavel" aria-hidden="true"></i>
          <p>Télécharger<br>Dossier de candidature<br>Avocat</p>
        <% end %>
      </div> <!-- .download-btn -->
    </div>
  </div> <!-- .row -->
</div> <!-- .container .equipe -->