<!-- Contacts -->

<div class="contacts text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="contacts-content">
					<h2 class="lined">Contacts</h2>
					<div class="row">
						<div class="col-md-offset-3 col-md-6 col-xs-12">
							<%= image_tag "transmutations.jpg", id: "transmutations-photo" %>
							<h4>ASBL Trans-mutation</h4>
							<h4>Avenue de la Tenderie 64 - 1170 Bruxelles</h4>
							<h4>TVA : BE 0825.252.145 </h4>
						</div>
					</div>
					<div class="contacts-avatars">
						<div class="row">
							<div class="col-md-offset-2 col-md-4 col-xs-12">
								<div class="intervenant">
									<%= image_tag "stva.jpg", class: "img-circle img-responsive avatar" %>
									<h4>Stanislas van Wassenhove</h4>
									<p>Organisateur</p>
									<p>stva@me.com</p>
								</div>
							</div>
							<div class="col-md-4 col-xs-12">
								<div class="intervenant">
									<%= image_tag "avdb.jpg", class: "img-circle img-responsive avatar" %>
									<h4>Adrien van den Branden</h4>
									<p>Assistant</p>
									<p>avdbranden@gmail.com</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>