<!-- AVOCATCONNECTE -->

<div class="container title text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1>Conférence Avocat Connecté</h1>
      <h4>L'Incubateur a la plaisir de vous inviter à la conférence Avocat Connecté le <b>21 mars 2018</b> au <b>Palais des Congrès</b> à <b>Liège</b></h4>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .contacts -->

<div class="container affiche text-center">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
      <%= image_tag "avocatconnecte.jpg", class: "img-responsive img-rounded" %>
    </div>
  </div>
</div> <!-- .container -->

<div class="container volet text-center lined-middle-gray">
  <div class="row">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <h3>Infos pratiques et inscriptions</h3>
      <p>Mercredi <b>21 mars 2018</b> de 14h30 à 18h30</p>
      <p>Palais des Congrès</p>
      <p>Espl. de l'Europe 2, 4020 Liège</p>
      <p class="volet-box">4 points (formation continue)</p>
      <%= link_to "Cliquez ici pour vous inscrire", "https://www.weezevent.com/l-avocat-connecte-6-pistes-pour-un-bon-depart?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3BY8%2FJ3lOLS624S6X30cbEpw%3D%3D", target: "_blank", class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <%= image_tag "palais.jpg", class: "img-responsive img-thumbnail volet-img" %>
    </div>
  </div> <!-- .row -->
</div> <!-- .container .ceremonie -->