<!-- Title -->

<div class="title text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-4 col-md-4 col-xs-12">
				<div class="title-content">
					<h1>Inscriptions - Contacts</h1>
					<div class="inscriptions-details">
						<h4>Frais d'inscription TTC</h4>
						<P>Avocats : 60 EUR</p>
						<p>Avocats stagiaires et magistrats : 30 EUR</p>
						<p>Autres : 80 EUR</p>
						<p>A verser sur le compte de l'OBFG</p> 
						<p>IBAN : BE49 6300 7693 1971<p>
						<p>Le paiement vaut inscription définitive.</p>
					</div>
					<%= link_to "Je m'inscris", "https://lynxor.events/enum2016", target: '_blank', class: "btn btn-success btn-lg btn-inscription center-block" %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'contacts' %>