<!-- Title -->

<div class="title text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-content">
					<h1>Inscriptions - Contacts</h1>
					<%= link_to "Je souhaite m'inscrire", "TODO", class: "btn btn-success btn-lg btn-inscription center-block" %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'contacts' %>