<div class="container title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Cookie Declaration</h1>
		</div>
	</div> <!-- .row -->
</div> <!-- .container -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/6ae9f5da-7903-4b77-9b13-062405cc49d9/cd.js" type="text/javascript" async></script>