<!-- Eadio -->

<div class="container title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Digital Lawyer Digest</h1>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .contacts -->

<div class="container text-center">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 col-xs-12">
			<div class="radio lined-middle-gray">
				<p>L'Incubateur d'Avocats.be lance le <b>"Digital Lawyer Digest"</b> (DLD), la publication qui rassemble les meilleures contributions de l'année touchant de près ou de loin à l'innovation et le droit.<p>
				<p>Un comité éditorial présidé par Adrien Van den Branden et composé d'Antoine Nokerman et de William-James Kettlewell (tous trois membres de l'Incubateur d'Avocats.be) a pour mission de sélectionner les contributions. Les contributions doivent respecter les critères de sélection disponibles dans le <%= link_to "Mission Statement", "https://drive.google.com/file/d/1oT4aC98eUZjIpjiYh9VA1gTs7q4Z4qyY/view?usp=sharing", target: "_blank" %>. Elles peuvent être écrites dans les trois langues nationales (<b>français</b>, <b>néerlandais</b> et <b>allemand</b>) ainsi qu'en <b>anglais</b>.<p> 
				<p>Le Digital Lawyer Digest est publié en partenariat avec l'éditeur Knops Publishing et le site www.jubel.be.<p>
			</div>
		</div>
	</div> <!-- .row -->
	<div class="row contribution-personnelle">
		<div class="col-xs-12">
			<h2>Vous souhaitez proposer une contribution ?</h2>
			<p>Remplissez le formulaire ci-dessous !</p>
			<%= link_to "Proposer une contribution", "https://avdbranden.typeform.com/to/ir3qEI", target: "_blank", class: "btn btn-lg btn-primary" %>
		</div>
	</div>
</div> <!-- .container -->