<!-- Title -->

<div class="title text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="title-content">
					<h1>L'Electrochoc Numérique</h1>
					<h2 id="avenir">Assurons notre avenir</h2>

					<%= render 'logos' %>

					<h2 id="rencontre">Une rencontre organisée par Avocats.be</h2>
					<h4>avec le soutien de l'UIA, du Barreau de Bruxelles et de Trans-Mutation (université d'été)​</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Mutation -->

<div class="mutation">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<div class="mutation-content">
					<h2>Le monde juridique est en mutation</h2>
					<div class="whitepaper">
						<%= link_to "Lisez l'intervention", "https://drive.google.com/open?id=0B8IrvRDLbpHBOWhNVUU2blVEZUE", target: '_blank', class: "btn btn-danger btn-lg"%>
						<h4>de <strong>Stanislas van Wassenhove</strong>, avocat</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Image -->

<div class="image text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-3 col-md-6 col-xs-12">
				<div class="image-content">
					<%= image_tag "electrochoc.jpg", class: "img-responsive" %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Summary -->

<div class="summary text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="summary-content">
					<h4><strong>Quoi ? </strong>Une journée d'information et de réflexion sur la révolution numérique et la transformation de l'avocat</h4>
					<h4><strong>Quand ? </strong>Le 15 décembre 2016 de 8h30 à 17h30</h4>
					<h4><strong>Où ? </strong>Dans les locaux de la FEB- rue de Ravenstein, 4 à 1000 Bruxelles</h4>
					<h4><strong>Qui ? </strong>Tous les avocats membres de l'OBFG mais aussi les autres acteurs de la Justice</h4>
					<h4><strong>Tarif ? </strong>60 EUR pour les avocats, 30 EUR pour les avocats stagiaires et les magistrats, 80 EUR pour les autres</h4>
					<h4><u><strong>NB : </strong>6 points de formation</u></h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Teasing -->

<div class="teasing text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="teasing-content">
					<p><em>"Le monde juridique est en papier et la révolution numérique est en cours. Allons-nous rater le train ou nous engageons nous vers la vision de l'avocat du futur qui nous apportera croissance et épanouissement? Les outils numériques sont à notre disposition pour faire ce parcours et mettre de manière plus efficiente et collaborative notre expertise et notre écoute aux services de nos clients et de la Justice. Cette évolution nous concerne tous. Venez découvrir durant cette journée, les outils mais aussi la manière de faire évoluer votre pratique. Nous aiderons les autres acteurs de Justice à prendre le train en marche."</em></p>
					<h4><strong>Jean-Pierre Buyle</strong>, président d'Avocats.be</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Inscriptions -->

<div class="inscriptions text-center">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="inscriptions-content">
					<h2>Inscriptions</h2>
					<p>Frais d'inscription TTC</p>
					<P>Avocats : 60 EUR</p>
					<p>Avocats stagiaires et magistrats : 30 EUR</p>
					<p>Autres : 80 EUR</p>
					<p>A verser sur le compte de l'OBFG</p> 
					<p>IBAN : BE49 6300 7693 1971<p>
					<p>Le paiement vaut inscription définitive.</p>
					<%= link_to "Procédez à l'inscription", "https://lynxor.events/enum2016", target: '_blank', class: "btn btn-success btn-lg"%>
				</div>
			</div>
		</div>
	</div>
</div>


