

<!-- Jpbuyle -->

<div class="speaker-card">
	<div class="container">
		<div class="row">
			<div class="speaker-content">
				<div class="col-md-offset-3 col-md-2 col-xs-12">
				<div class="speaker">
					<%= image_tag "jpbuyle.jpg", class: "img-circle img-responsive avatar" %>
				</div>
				</div>
				<div class="col-md-5 col-xs-12">
				<div class="description text-center">
					<div class="matter">
						<p>8h45 - 9h00 Introduction</p>
					</div>
					<div class="function">
						<p>par <strong>Jean-Pierre Buyle</strong>, Président de l'OBFG</p>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- Stva -->

<div class="speaker-card">
	<div class="container">
		<div class="row">
			<div class="speaker-content">
				<div class="col-md-offset-3 col-md-2 col-xs-12">
				<div class="speaker">
					<%= image_tag "stva.jpg", class: "img-circle img-responsive avatar" %>
				</div>
				</div>
				<div class="col-md-5 col-xs-12">
				<div class="description text-center">
					<div class="matter">
						<p>9h00 - 9h15: Objectifs du séminaire </p>
					</div>
					<div class="function">
						<p>par <strong>Stanislas van Wassenhove</strong>, avocat</p>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- First part -->

<div id="first-part" class="part-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center lined">L'état des lieux du numérique</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<div class="panel panel-primary">
				  <div class="panel-heading text-center">
				  	<h4>9h15 - 11h :  Les innovations technologiques</h4>
				  	<p>animation par Stanislas van Wassenhove</p>
				  </div>
				  <div class="panel-body">
				    <ul>
						<li>L'intelligence artificielle et le blockchain: <strong>Gaël Mainguy</strong>, directeur du développement du CRI</li>
						<li>L'accès à la connaissance: <strong>Nicolas Bustamente</strong>, CEO de Doctrine.fr</li>
						<li>La prospective: <strong>Thomas Baduel</strong>, fondateur de Predictice</li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Kgeens -->

<div class="speaker-card">
	<div class="container">
		<div class="row">
			<div class="speaker-content">
				<div class="col-md-offset-3 col-md-2 col-xs-12">
				<div class="speaker">
					<%= image_tag "kgeens.jpg", class: "img-circle img-responsive avatar" %>
				</div>
				</div>
				<div class="col-md-5 col-xs-12">
				<div class="description text-center">
					<div class="matter">
						<p>11h00 - 11h15 : La  justice du futur</p>
					</div>
					<div class="function">
						<p>par <strong>Koen Geens</strong>, Ministre de la Justice</p>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- Second part -->

<div id="second-part" class="part-container">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<div class="panel panel-primary">
				  <div class="panel-heading text-center">
				  	<h4>11h30 - 13h00 : Les enjeux pour les avocats</h4>
				  	<p>animation  par  Jean-François Henrotte, avocat</p>
				  </div>
				  <div class="panel-body">
				    <ul>
					    <li>La plateforme de consultation en ligne de 5 barreaux belges: <strong>Olivier Haenecour</strong>, avocat</li>
					    <li>L'état des lieux  numérique du CNB: <strong>Didier Adjedj</strong>, ancien bâtonnier</li>
					    <li>Le financement  des investissements: <strong>Patrick De Wolf</strong>, avocat</li>
					    <li>Comment changer son modèle: <strong>Alain Vas</strong>, Vice-Recteur UCL</li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Ateliers -->

<div id="ateliers-part" class="part-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2 class="lined">Le numérique en action</h2>
				<h4>3 ateliers concrets de 14h à 15h30</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-info">
				  <div class="panel-heading text-center">
				  	<h4>Les sources externes et la sécurisation des flux</h4>
				  	<p>animation par Dimitri de Sart, avocat</p>
				  </div>
				  <div class="panel-body">
				    <ul>
				    	<li>La gestion des  banques de données - Larcier</li>
				    	<li>Les outils de standardisation.</li>
				    	<li>Le stockage et l’archivage</li>
				    	<li>La sécurisation des données</li>
				    	<li>L’Extranet, avec la participation de MyCercle</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-info">
				  <div class="panel-heading text-center">
				  	<h4>L’organisation numérique du cabinet</h4>
				  	<p>animation par Etienne Wery, avocat</p>
				  </div>
				  <div class="panel-body">
				    <ul>
				    	<li>Productivité et effet de levier: notions et impact des outils informatiques</li>
				    	<li>L'évolution des logiciels pour avocat: de la génération de fichiers à la création valeur ajoutée</li>
				    	<li>Le tsunami emails: gérer la masse pour éviter de se noyer</li>
				    	<li>L'évolution de l'interfaçage homme-machine: une machine qui obéit au doigt, à l'oeil et à la voix</li>
				    	<li>Ne pas réinventer la roue : réutiliser le savoir accumulé au sein du cabinet</li>
				    	<li>Très chère information: la sécurisation des données</li>
				    	<li>Les outils de pilotage: tableau de bord, cockpit management et autres outils de prise de décision, avec la participation de Secib</li>
				    </ul>
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12">
				<div class="panel panel-info">
				  <div class="panel-heading text-center">
				  	<h4>La communication et le marketing</h4>
				  	<p>animation par Daniel Fesler, avocat</p>
				  </div>
				  <div class="panel-body">
				    <ul>
				    	<li>Les réseaux sociaux</li>
				    	<li>YouTube</li>
				    	<li>Les videos conférence</li>
				    	<li>Les sites webs</li>
				    	<li>Les outils collaboratifs</li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Third part -->

<div id="third-part" class="part-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center lined">La justice numérique</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-xs-12">
				<div class="panel panel-primary">
				  <div class="panel-heading text-center">
				  	<h4>16h - 17h :  les innovations de la justice</h4>
				  	<p>animation par Jean-Louis Joris, avocat</p>
				  </div>
				  <div class="panel-body">
				    <ul>
				    	<li>La contribution des barreaux à l'informatisation de la Justice: <strong>Jean-Louis Joris</strong></li>
				    	<li>Les procédures dématérialisées: ...</li>
				    	<li>Les enjeux pour les magistrats: <strong>Jean-Marc Meilleur</strong>, Procureur du Roi de Bruxelles</li>
				    </ul>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Pscullier -->

<div class="speaker-card">
	<div class="container">
		<div class="row">
			<div class="speaker-content">
				<div class="col-md-offset-3 col-md-2 col-xs-12">
				<div class="speaker">
					<%= image_tag "psculier.jpg", class: "img-circle img-responsive avatar" %>
				</div>
				</div>
				<div class="col-md-5 col-xs-12">
				<div class="description text-center">
					<div class="matter">
						<p>17h15 - 17h30: Conclusions </p>
					</div>
					<div class="function">
						<p>par <strong>Pierre Sculier</strong>, Bâtonnier du barreau de Bruxelles</p>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
