<!-- Eadio -->

<div class="container title text-center">
	<div class="row">
		<div class="col-xs-12">
			<h1>Ecoutez la Radio de l'Incubateur !</h1>
		</div>
	</div> <!-- .row -->
</div> <!-- .container .contacts -->

<div class="container text-center">
	<div class="row">
		<div class="col-xs-12">
			<div class="radio lined-middle-gray">
				<p>Vous êtes coincés en audience et devez patienter 15 minutes…<br>On vous a parlé de blockchain, de smart contrats et d’algorithmes mais vous n’y comprenez rien…<br> La vague du numérique, vous la constatez mais vous ne savez pas quoi faire concrètement…</p>
				<p>Parce que tous les avocats peuvent se poser ces questions, l’Incubateur d’Avocats.be a créé la Radio de l’Incubateur.
				<p>Toutes les semaines, l’équipe de l’Incubateur publie un podcast dans lequel elle interroge des experts de divers domaines afin d’accompagner les avocats dans leur transition numérique. Les interviews couvrent quatre thématiques incontournables : la legaltech, la technologie et l’innovation, l’avocat 2.0, et enfin la déontologie.</p>	
			</div>
		</div>
	</div> <!-- .row -->


<!-- CARDS YOUTUBE ET SOUNDCLOUD -->

  <div class="row radio-links">
    <div class="col-md-offset-1 col-md-4 col-xs-12">
      <div class="radio-btn red">
        <%= link_to "https://www.youtube.com/watch?v=eJU0Bx2WlcA&t=8s", target: "_blank" do %>
			<%= image_tag "youtube.jpg", class: "img-responsive img-rounded" %>
          <p>Ecoutez la Radio de l'Incubateur sur Youtube</p>
        <% end %>
      </div> <!-- .radio-btn -->
    </div>
    <div class="col-md-offset-2 col-md-4 col-xs-12">
      <div class="radio-btn orange">
        <%= link_to "https://soundcloud.com/search?q=l%27incubateur%20d%27avocats.be", target: "_blank" do  %>
			<%= image_tag "soundcloud.png", class: "img-responsive img-rounded soundcloud" %>
          <p>Ecoutez la Radio de l'Incubateur sur Soundcloud</p>
        <% end %>
      </div> <!-- .radio-btn -->
    </div>
  </div> <!-- .row -->

</div> <!-- .container -->