.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 50px; /* hauteur de ligne (identique) */
  white-space: nowrap; /* interdiction de passer à la ligne */
  text-align: center;
  background: #0365C0;
  font-weight: bold;
  .light-blue {
    background: #51A7F9;
  }
}